# SF Salaries Exercise

Pada latihan kali ini kita akan lebih mengenal library pandas. Dataset yang akan kita gunakan adalah [SF Salaries](https://www.kaggle.com/kaggle/sf-salaries) dari Kaggle! Ikuti saja dan selesaikan tugas yang diuraikan dalam huruf tebal di bawah ini.

**Import pandas as pd**

In [1]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal**

In [8]:
df = pd.read_csv('Salaries.csv')

c:\Users\Christian\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

**Check the head or tail of the DataFrame**

In [4]:
print(df.tail())

            Id   EmployeeName                    JobTitle       BasePay  \
148649  148650  Roy I Tillery                   Custodian          0.00
148650  148651   Not provided                Not provided  Not Provided
148651  148652   Not provided                Not provided  Not Provided
148652  148653   Not provided                Not provided  Not Provided
148653  148654      Joe Lopez  Counselor, Log Cabin Ranch          0.00

         OvertimePay      OtherPay      Benefits  TotalPay  TotalPayBenefits  \
148649          0.00          0.00          0.00      0.00              0.00
148650  Not Provided  Not Provided  Not Provided      0.00              0.00
148651  Not Provided  Not Provided  Not Provided      0.00              0.00
148652  Not Provided  Not Provided  Not Provided      0.00              0.00
148653          0.00       -618.13          0.00   -618.13           -618.13

        Year  Notes         Agency Status
148649  2014    NaN  San Francisco     PT
148650  2014    NaN  San Francisco    NaN
148651  2014    NaN  San Francisco    NaN
148652  2014    NaN  San Francisco    NaN
148653  2014    NaN  San Francisco     PT

**Use the `info()` method to find out how many entries there are.**

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None

**What is the job title of Joseph Driscoll ?** Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [54]:
print(df['JobTitle'].where(df['EmployeeName'] == 'JOSEPH DRISCOLL').dropna())

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

<>:3: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<>:3: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\CHRIST~1\AppData\Local\Temp/ipykernel_8764/3139941422.py:3: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  df[df['EmployeeName'] == 'JOSEPH DRISCOLL'['JobTitle']]

TypeError: string indices must be integers

**How much does Joseph Driscoll make (including benefits)?**

In [11]:
print(df['TotalPayBenefits'].where(df['EmployeeName'] == 'JOSEPH DRISCOLL').dropna())

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the average BasePay?**

Hint: check datatype and use numpy library

In [17]:
import numpy as np

In [56]:
# 66325.44884050643
df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')
print(df['BasePay'].mean())

66325.4488404877

**What is the highest amount of OvertimePay in the dataset?**

In [59]:
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors='coerce')
print(df['OvertimePay'].max())
# 245131.88

245131.88

**What is the name of highest paid person (including benefits)?**

In [67]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]['EmployeeName']
# 0    NATHANIEL FORD

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [75]:
df[df['TotalPayBenefits']== df['TotalPayBenefits'].min()] #['EmployeeName']
df.loc[df['TotalPayBenefits'].idxmin()]['EmployeeName']
df.loc[df['TotalPayBenefits'].idxmin()]
# 0    GENERAL

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [74]:
df.groupby('Year').mean()['BasePay']
# 0    567595.43

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [73]:
df['JobTitle'].nunique()
# 2159

2159

**What are the top 5 most common jobs?**

In [76]:
df['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [83]:
df[df['Year']==2013]['JobTitle'].value_counts()
sum(df[df['Year']==2013]['JobTitle'].value_counts() == 1)
# 202

202

**Is there a correlation between length of the Job Title string and Salary?**

In [86]:
df['title_len'] = df['JobTitle'].apply(len)
df[['JobTitle', 'title_len']].corr()
df[['title_len','TotalPayBenefits']].corr()

#	TotalPayBenefits	title_len
# TotalPayBenefits	1.000000	-0.036878
# title_len	-0.036878	1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000